$login_border_color:#04506b;
$login_bg_color: rgba(50, 189, 226, 0.2);
$icon_color: #999999;
$login__borderR: 1.523rem;

@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
}

@mixin titleH2 {
    max-width: 100%;
    margin: 0 0 .4em;
    padding: 0;
    color: #595959;
    font-size: 1.675em;
    font-weight: 550;
    text-align: center;
}